@page  "/{handler?}"
@using Microsoft.AspNetCore.Authentication
@model _HostAuthModel
@namespace BlazorUI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    var accessToken = await HttpContext.GetTokenAsync("access_token");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorUI</title>
    <base href="~/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="AdminLTE/dist/css/adminlte.min.css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini">
    @if (User.Identity.IsAuthenticated)
    {
        <component type="typeof(App)" param-AccessToken="accessToken" render-mode="ServerPrerendered" />

        <div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
        <script src="AdminLTE/plugins/jquery/jquery.min.js"></script>
        <script src="AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="AdminLTE/dist/js/adminlte.js"></script>
        <!--<script src="AdminLTE/plugins/chart.js/Chart.min.js"></script>
        <script src="AdminLTE/dist/js/demo.js"></script>
        <script src="AdminLTE/dist/js/pages/dashboard3.js"></script>-->

        <script src="_framework/blazor.server.js"></script>
    }
    else
    {
        Response.Redirect("/Login");
    }

</body>
</html>
