@page "/fetchdata"

@using API.Client
@using Services
@inject IWeatherForecastClient client

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Weather forecast</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Weather forecast</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @if (forecasts == null)
                {
                    <p><em>Loading...</em></p> }
                else
                {
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Available items</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Temp. (C)</th>
                                        <th>Temp. (F)</th>
                                        <th>Summary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var forecast in forecasts)
                                    {
                                        <tr>
                                            <td>@forecast.Date.ToString()</td>
                                            <td>@forecast.TemperatureC</td>
                                            <td>@forecast.TemperatureF</td>
                                            <td>@forecast.Summary</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                 }
                </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

@code {
    private ICollection<WeatherForecast> forecasts = null;

    protected override async Task OnInitializedAsync()
    {        
        forecasts = await client.GetAsync();
    }
}
