@page "/userprofile"
@inject AuthenticationStateProvider AuthState
@inject API.Client.TokenProvider tokenProvider

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>User profile</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User profile</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @if (claims == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Claims</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var claim in claims)
                                    {
                                        <tr>
                                            <td>@claim.Type</td>
                                            <td>@claim.Value</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Api Token</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <p>@tokenProvider.AccessToken</p>
                        </div>
                    </div>
                    <!-- /.card -->
                }
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->


@code {
    private IEnumerable<System.Security.Claims.Claim> claims;

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthState.GetAuthenticationStateAsync();
        claims = state.User.Claims;

        await base.OnInitializedAsync();
    }

}
